@model ExportFileModel
@{
    ViewData["Title"] = "ExportFile";
}



@section Styles
{
    <link rel="stylesheet" href="/user/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link href="~/css/chosen.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/user/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/user/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>

        $(function () {
            $('#selectTwo').chosen();
        });
        $(function () {

            $('#Contact').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false,
                "responsive": true

            });
        });
    </script>

    <script src="~/js/chosen.jquery.min.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <form method="post" enctype="multipart/form-data" asp-controller="DataImporter" asp-action="ExportFile">



        <div asp-validation-summary="All" class="container-fluid">
            <div class="card-header" style="color: black;">
                <h3 class="card-title">Export File</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body" type="select" style="color: black;">
                <label for="select group" id="groupid">Choice group:  </label>
                @Html.DropDownListFor(m => m.GroupId, ViewBag.GroupList as SelectList, "--Select A Group--",
                new { required = "required", id = "selectTwo" })



                <!-- /.card-body -->
                <input type="hidden" asp-for="GroupId" value="@Model.GroupId " id="groupid" />

                <button type="submit" class="btn btn-primary"
                        style="color: black;background-color: white;border-color:gray; margin-left:5px">
                    search
                </button>
            </div>

        </div>

    </form>

    <!-- Main content -->

    @if (ViewBag.ContactListNullMassage == null)
    {
        @if (Model.GroupId != 0)
        {

            <form method="post" enctype="multipart/form-data" asp-controller="DataImporter" 
                  asp-action="ExportFile">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header" style="color: black;background-color: #9c94d6">
                                        <h3 class="card-title">List</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="Contact" class="table table-bordered table-hover" 
                                               method="post">
                                            <thead>
                                                <tr>
                                                    @{
                                                        foreach (var item in Model.Headers)
                                                        {
                                                            <th>@item</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @{int x = 0; }
                                                    @foreach (var j in Model.Itemss)
                                                    {

                                                        <td>
                                                            @j
                                                        </td>

                                                        x++;
                                                        @if (x == Model.Headers.Count)
                                                        {
                                                        <tr>
                                                        </tr>
                                                        x = 0;
                                                    }
                                                    }
                                                </tbody>

                                        </table>

                                        <partial name="_deletePartial" />
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
                <!-- /.content-wrapper -->
                <div class="card-footer">
                    <div class="col-md-12">
                        <a type="submit" asp-action="Download" asp-controller="DataImporter" class="btn btn-primary"
                           style="color: black;background-color: #9c94d6;border-color:#9c94d6">
                            Download
                        </a>
                        <a type="submit" asp-action="EmailSender" asp-controller="DataImporter" class="btn btn-primary"
                           style="color: black;background-color: #9c94d6;border-color:#9c94d6">
                            Send to Email
                        </a>
                        <input type="hidden" asp-for="GroupId" value="@Model.GroupId " id="groupid" />

                        <a asp-action="Index" asp-controller="DataImporter"
                           class="btn btn-default float-right" style="color: black;background-color: #9c94d6; border-color:#9c94d6 ">
                            Cancel
                        </a>
                    </div>
                 
                </div>
            </form>
        }
    }

</section>


