@using Microsoft.AspNetCore.Identity
@inject SignInManager<DataImporter.MemberShip.Entities.ApplicationUser> SignInManager
@inject UserManager<DataImporter.MemberShip.Entities.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-top:7px;">
            <a lass="btn btn-navbar" asp-controller="DataImporter" asp-action="Index"
               title="Manage" style="background-color:white; color:black;margin-right:20px;
                border-radius:5px; padding:10px">
                @User.Identity.Name
            </a>
        </li>
        <li class="nav-item">
            <form lass="btn btn-navbar" asp-controller="Account" asp-action="Logout"
                  asp-route-returnUrl="@Url.Action("Index", "DataImporter", new { area = "" })"
                  style="background-color: white; color: black; margin-left: 20px; margin-right: 20px; border-radius: 5px">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register" class="btn btn-navbar" type="submit"
               style="background-color: grey; color:white;margin-right:20px;border-radius:5px">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-navbar" asp-controller="Account" asp-action="Login" type="submit"
               style="background-color: grey; color:white;margin-left:20px; margin-right:20px;border-radius:5px">Login</a>
        </li>
    }
</ul>
