@{

    Layout = "_Layout2";
}
<body style=" background-image: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);">


    <div>
        
            <h1 style="text-align:center;  margin-top:20px; color:white">
                Thank you for confirming your email.
            </h1>
     
    </div>
    <div>
        <a asp-action="Login" asp-controller="Account" style="text-decoration: none">
            <h2 style="text-align:center; margin-top:20px; color:white; ">Login Now</h2>
        </a>
    </div>
</body>