
@{
    Layout = "_Layout2";
    ViewData["Title"] = "RegistrationSuccessView";
}
<body style=" background-image: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);">


    <div style="background-image: -webkit-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);">
        
            <h1 style="text-align:center; margin-top:20px; ">Please confirm Your Account by your email.</h1>
            
    </div>
    <div>
        <a asp-action="Login" asp-controller="Account" style="text-decoration: none">
            <h2 style="text-align:center; margin-top:20px; color:white; ">Login Now</h2>
        </a>
    </div>
</body>



